<div class="log_in--window">
    <h1>New Password</h1>
    <form  action="setNewPassword" method="post" class="log_in--form">
        <div class="input__field">
            <input type="password" id="input--password--new" name="password" required>
            <span></span>
            <label for="input--password--new"><i class="fa fa-solid fa-lock"></i>New password</label>
        </div>
        {{#if passError}}
            <p class="error">{{error}}</p>
        {{/if}}
        <input type="hidden" name="_csrf" value="{{csrf}}">
        <input type="hidden" name="token" value="{{token}}">
        <input type="hidden" name="userId" value="{{userId}}">
        <button type="submit" class="log__in--button" id="new__user--button">Set New Password!</button>
    </form>
</div>