<div class="log_in--window">
    <h1>Reset Password</h1>
    <form  action="passwordRequest/reset" method="post" class="log_in--form">
        <div class="input__field">
            <input type="email" id="input--email--new" name="email" required>
            <span></span>
            <label for="input--email--new"><i class="fa fa-solid fa-lock"></i>Email</label>
        </div>
        {{#if emailError}}
            <p class="error">{{ emailError }}</p>
        {{/if}}
        {{#if successMsg}}
            <p class="success">{{ successMsg }}</p>
        {{/if}}
        <input type="hidden" name="_csrf" value="{{csrf}}">
        <button type="submit" class="log__in--button" id="new__user--button">Reset</button>
        <div class="sign_up-link" style="margin-bottom: 10px;">
            <span>Remembered a password?</span>
            <a href="/" class="sign_up-link--button">Log in</a>
        </div>
        <div class="sign_up-link">
            <span>Not with us yet?</span>
            <a href="/registration" class="sign_up-link--button">Join now!</a>
        </div>
    </form>
</div>